<h2 mat-dialog-title>API definition</h2>
<mat-dialog-content class="view-dialog">
  @if (loading()) {
    <div class="view-dialog__center">
      <mat-progress-spinner diameter="40" mode="indeterminate" />
    </div>
  } @else if (error()) {
    <p class="view-dialog__error">{{ error() }}</p>
  } @else if (detail(); as d) {
    <pre class="view-dialog__json">{{ d | json }}</pre>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close type="button">Close</button>
</mat-dialog-actions>
